p::first-letter{
    font-size: 2em;
}
li:hover, h2:hover{
    background-color: blue;
    color: red;
}
a:link{
    color: red;
}
A:visited{
    color: green;
}
A:hover{
    background-color: dodgerblue;
}
A:active{
    background-color: tomato;
}